<!DOCTYPE html>
<html>
<head>
    <title>Flicki - The Movie Wiki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div class="container flicki-nav">
        <ul class="nav navbar-expand-md">
            <%= link_to "flicki", root_path, class: 'navbar-brand' %>
            <li class="nav-item pull-left"><%= link_to "Home", root_path, class: 'nav-link' %></li>
            <li class="nav-item pull-left"><%= link_to "About", about_path, class: 'nav-link' %></li>
            <li class="nav-item pull-left"><%= link_to "Flickis", wikis_path, class: 'nav-link' %></li>
            <% if user_signed_in? %>
                <div class="nav-acct nav-item pull-right">
                    <small>Signed in as: <strong>
                        <% if current_user.first_name %>
                            <%= current_user.first_name %>
                        <% else %>
                            <%= current_user.email %>
                        <% end %>
                        </strong></br>
                    </small>
                    <% if current_user.role == "standard" %>
                        <%= link_to "upgrade", new_charge_path, class: 'nav-btn upgrade-btn' %>
                    <% end %><%= link_to "profile", edit_user_registration_path, class: 'nav-btn other-btn' %><%= link_to "sign out", destroy_user_session_path, method: :delete, class: 'nav-btn other-btn'  %>
                </div>
            <% else %>
                <li class="nav-item pull-right"><%= link_to "Sign In", new_user_session_path, class: 'nav-link' %></li>
                <li class="nav-item pull-right"><%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %></li>
            <% end %>
        </ul>
    </div>
    <% if flash[:notice] %>
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
        </div>
    <% elsif flash[:alert] %>
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %>
        </div>
    <% end %>
    <div class="container">
        <%= yield %>
    </div>
</body>
</html>
